<button class="add-favorite" type="button" hx-post="/favorites/add?city={{ .City }}" hx-target="#favs">
    Добавить в избранные
</button>

<div class="weather-grid">
    {{range .Days}}
        <div class="weather-card">
            <ol>
                <h4>{{ .Time}}</h4>
                <h4 style="text-align: center;">{{ .TemperatureMax}}℃</h4>
                <h4 style="text-align: center;">{{ .TemperatureMin}}℃</h4>
                <h5>{{ .WeatherDescription}}</h5>
                <img src="{{ .ImageSource }}" alt="">
            </ol>
        </div>
    {{end}}
</div>
