<button class="add-favorite" type="button" hx-post="/favorites/add?city={{ .City }}" hx-target="#favs">
    Добавить в избранные
</button>

<div id="current" class="current-grid" hx-swap-oob="true">
    <h4>Погода сейчас</h4>
    <p class="current-temp">На улице: {{ .CurrentWeather.Temperature}}℃</p>
    <p class="feels-like">Ощущается как: {{ .CurrentWeather.ApparentTemp}}℃</p>
    <h4>Скорость ветра: {{ .CurrentWeather.WindSpeed}} м/с</h4>
    <img src="{{ .CurrentWeather.ImageSource}}" alt="">
</div>

<div class="weather-grid">
    {{range .Days}}
        <button class="weather-card" type="button" onclick="window.location.href='/weather/hourly?lat={{ $.Latitude }}&lon={{ $.Longitude}}&date={{ .Date }}&city={{ $.City }}'">
            <ol>
                <h4>{{ .Time}}</h4>
                <h4 style="text-align: center;">{{ .TemperatureMax}}℃</h4>
                <h4 style="text-align: center;">{{ .TemperatureMin}}℃</h4>
                <h5>{{ .WeatherDescription}}</h5>
                <img src="{{ .ImageSource }}" alt="">
            </ol>
        </button>
    {{end}}
</div>
