<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Прогноз погоды</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script> htmx.config.selfRequestsOnly = false </script>
    <link rel="icon" type="image/svg+xml" href="/static/icons/weather.svg">
    <link rel="stylesheet" href="/static/styles/style.css?v=6">
</head>
    <body>
        <div hx-get="/searchhistory" id="history" hx-trigger="load, searchHistoryChanged from:body" ></div>

        <div class="search-row">
            <div id="current"></div>

            <form hx-get="/weather" hx-target="#result" class="search-form">
                <input 
                    type="text"
                    placeholder="Введите название города..."
                    name="city"
                />
                <button type="submit">
                    Узнать погоду
                </button>
            </form>
        </div>
        {{if .AutoDetected}}
        <form>
                <p>Возможно, вы в городе {{ .AutoCity}}</p>
                <button type="button" hx-get="/weather" hx-target="#result" hx-vals='{"city": "{{ .AutoCity}}"}'>Показать погоду</button>
        </form>
        {{end}}
        <div id="favs" hx-get="/favorites" hx-trigger="load"></div>
        <div id="result"></div>
    </body> 
</html>
