<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Прогноз погоды</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script> htmx.config.selfRequestsOnly = false </script>
    <link rel="icon" type="image/svg+xml" href="/static/icons/weather.svg">
</head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.sand.min.css">
    <body>
        <h2 style="margin-top: 3px; text-align: center;">Прогноз погоды</h2>
        <form hx-get="/weather" hx-target="#result">
            <input 
                type="text"
                placeholder="Введите название города..."
                name="city"
            />
            <button type="submit">
                Узнать погоду
            </button>
        </form>
        <div id="result"></div>
    </body> 
</html>