<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script> htmx.config.selfRequestsOnly = false </script>
</head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <body>
        <table>
            <input 
            type="text"
            placeholder="Enter a city..."
            hx-get="/weather"
            hx-trigger="keyup changed delay:1000ms"
            hx-push-url="true"
            hx-target="#result"
            hx-indicator="#spinner"
            name="city"
            />
        </table>
        <div id="result">
        </div>
    </body> 
</html>